body{
    background: antiquewhite;
    text-align: center;
    padding: 20px;
}

h1{
    text-align: center;
    
    
}   

#ft{
    border: 2px solid none;
    border-radius: 10px;
}